@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Virtuax</h1>
    <p>Comprehensive data solutions for all of your needs. </p>
    <h2 class="display-4"> Try it Yourself!</h2>
    <p><a href="https://shipperapp-rocks.web.app/login">LastMile</a></p>
</div>
